  /* .navbar {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 5px;
    background-color:black;
    text-align: right;
  } */

  .navbar {
    background-color: #c9b977;
    padding: 10px;
    box-shadow: 0 2px 5px;
  }
  
  /* Lista del navbar */
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar li {
    margin-right: 20px; /* Espacio entre las opciones */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
  }
  
  /* Estilo de los enlaces del navbar */
  .navbar li a {
    color: #020202;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: text-shadow 0.3s ease;
  }
  
  .navbar li:hover a {
    transform: scale(1.1); /* Agranda el texto un 10% */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Difuminado en las letras */
  }
  
  /* nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: underline;
    color: white;
  } */